:root {
    --color-grey:  #3b3b3b;
    --color-white: #ffffff;
}

    .search_bar{
        padding: 5px;
        width: 100%;
        border-radius: 50px;
        border: 2px solid var(--color-grey);
        background-color: var(--color-grey);
        transition: background-color 0.3s ease;
        outline: none;
        padding-left: 15px;
    }

    @media (max-width: 576px){
        .search_bar{
            margin-top: 10px;
        }
    }

    


.search_bar:hover,
.search_bar:focus {
    background-color: var(--color-white);
}

